/* Variables */
:root {
	--header-color: #000;
	--h1-color: #393C41;
	--h2-color: #6E7378;
	--button-dark-bg: rgba(23, 26, 32, 0.8);
	--button-light-bg: rgba(255, 255, 255,  0.65);
}

/* Fonts */
@font-face {
	font-family: "GothamMedium";
	src: url("../fonts/GothamMedium.otf");
}

@font-face {
	font-family: "GothamBook";
	src: url("../fonts/GothamBookRegular.otf");
}

/* General */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'GothamMedium', Helvetica, Arial, sans-serif;	
	font-size: 14px;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 50px;
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
}

header ul, header li {
	list-style: none;
}

header .logo {
	width: 120px;
	margin-left: 20px;
}

header .center ul, header .right ul {
	display: flex;
}

header .center li, header .right li {
	margin:  0 10px;
}

header .center a, header .right a {
	color: var(--header-color);
	text-decoration: none;
	text-transform: uppercase;
	cursor: pointer;
}

header .menu-icon {
	width: 18px;
	height: 16px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	cursor: pointer;
}

header .menu-icon div {
	height: 2px;
	background: var(--header-color);
}

/* Product section */
.product{
	height: 100vh;
	background-position: center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size:  cover;
	background-size: cover;
}

.product .info {
	height: 45vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

h1 {
	color: var(--h1-color);
	font-size:  40px;
	font-weight: 400;
}

h2 {
	text-transform: capitalize;
	font-size: 14px;
	font-weight: 400;
	font-family: 'GothamBook', Helvetica, Arial, sans-serif;
}

.product h2 a {
	color: var(--h1-color);
}

.product .down {
	display: flex;
	flex-direction: column;
	height: 50vh;
	justify-content: flex-end;
	align-items: center;
}

.down .button-area {
	display: flex;
	justify-content: center;
}

.down .button-area a {
	display: block;
	text-transform: uppercase;
	width: 220px;
	text-decoration: none;
	text-align: center;
	font-size: 12px;
	padding: 15px;
	border-radius: 30px;
	margin: 0 10px;
}

.down .button-area .dark-button {
	background-color: var(--button-dark-bg);
	color: #FFF;
}

.down .button-area .light-button {
	background-color: var(--button-light-bg);
	color: #000;
}

.down .arrow-area {
	display: flex;
	justify-content: center;
	margin-top: 25px;
	height: 30px;
}

.down .arrow {
	height: 15px;
	animation-name: arrowDown;
	animation-duration: 1.5s;
	animation-iteration-count: infinite;
}

/* Backgrounds */
#model-s {
	background-image: url("../images/model_s.jpg");
}

#model-3 {
	background-image: url("../images/model_3.jpg");
}

#model-x {
	background-image: url("../images/model_x.jpg");
}

#model-y {
	background-image: url("../images/model_y.jpg");
}

#solar-roof {
	background-image: url("../images/solar_roof.jpg");
}

#solar-panels {
	background-image: url("../images/solar_panels.jpg");
}

/* Animation */
@keyframes arrowDown {
	0% {
		margin-top: 0;
	}
	
	50% {
		margin-top: 15px;
	}

	100% {
		margin-top: 0;
	}
}

/* Responsivity */
@media only screen and (max-width: 1200px) {
	header .center {
		display: none;
	}

	header .right li {
		display: none;
	}

	header .right .menu {
		display: block;
		margin-right: 20px;
	}
}

@media only screen and (max-width:  600px) {
	footer .button-area {
		flex-direction: column;
		align-items: center;
	}

	footer .button-area a {
		margin: 5px 20px;
		width: calc(100vw - 60px);
	}
}